MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/your_database?retryWrites=true&w=majority
MONGODB_DB_NAME=phantomshield
MONGODB_USERS_COLLECTION=users
MONGODB_FORENSIC_COLLECTION=forensic_events
MONGODB_TIMEOUT_MS=5000
JWT_SECRET=SUPERSECRETKEY
