MONGODB_URI= mongodb+srv://owesomayank_db_user:P6SLCZLIbmCzAzcT@cluster0.rg35edc.mongodb.net/
MONGODB_DB_NAME=phantomshield
MONGODB_USERS_COLLECTION=users
MONGODB_TIMEOUT_MS=5000
JWT_SECRET=SUPERSECRETKEY